@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin:0;
    height:calc(100vh - 8em);
    font-family: 'Roboto', sans-serif;
    background-color:#FFFFFF
}

h1 {
    text-align:center;
    margin:4em;
}

.container {
    width:100%;
    overflow:hidden; // containers going to be off screen
    position: relative;
    .items {
        display:flex;
        align-items: center;
        width:fit-content;
        animation:animateCarousel 100s infinite alternate linear;
        .entry {
            display:flex;
            align-items: center;
            flex-direction:column;
            position: relative;
            width:300px;
            background: #FFF;
            margin:1em;
            padding:1em;
            border-radius:10px;
            box-shadow:4px 4px 7px 1px rgba(0,0,0,0.3);
        }
        p {
            text-align:center;
            padding:0.8em;
        }

        .name {
            font-weight:900;
            font-size:30px;
        }

        @keyframes animateCarousel {
            from {
                transform: translate(0,0);
            }
            to {
                transform: translate(calc(-100% + (5*300px)));
            }
        }

    }

    @media only screen and (max-width:768px) {
        .items {
            animation:animateCarousel 50s infinite alternate linear;
        }

        @keyframes animateCarousel {
            from {
                transform: translate(0,0);
            }
            to {
                transform: translate(calc(-100% + (2*300px)));
            }
        }
    }

    .faders {
        width:100%;
        position: absolute;
        height:100%;
        .left,.right {
            background: linear-gradient(to right, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);width:20%;
            height:100%;
            position: absolute;
            z-index:200;
        }

        .right {
            right:0;
            background: linear-gradient(to left, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
        }

    }
}
